*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header.navbar-container {
  width: 100%;
  max-width: 1200px;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}
.logo img {
  width: 150px;
}

.nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
.nav-list li {
  list-style-type: none;
}
.nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  transition: all 0.2s ease-in-out;
}
.nav-list li:hover a {
  background-color: #425c77;
  letter-spacing: 2px;
  color: white;
}

.layout {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}

.deskripsi {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand {
  width: 300px;
  animation: naikTurun 2s infinite ease-in-out;
}
@keyframes naikTurun {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px); /* naik */
  }
  75% {
    transform: translateY(30px); /* turun */
  }
  100% {
    transform: translateY(0); /* kembali */
  }
}

.btn {
  padding: 15px 35px;
  border-radius: 20px;
  background-color: #2d3e50;
  color: white;
  font-weight: 400;
}
.btn:hover {
  color: #2d3e50;
  background-color: white;
  transform: scale(1.1);
}


@media screen and (max-width: 1000px) {
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
}
