*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  height: 100vh;
  margin: 0;
  padding: 0;
}


header.navbar-container {
  width: 100%;
  max-width: 1200px;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}
header.navbar-container .logo img {
  width: 150px;
}

@media screen and (max-width: 1000px) {
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
}
 
/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
}