/* font-family: menetapkan jenis font yang akan diterapkan pada target.
font-size: menentukan ukuran pada teks.
font-weight: menentukan ketebalan pada teks.
normal | bold | bolder | lighter | fw100 | fw200 | fw300 | fw400 | fw500 | fw600 | fw700 | fw800 | fw900 
font-style: menetapkan styling yang diterapkan pada teks.
normal | italic | oblique
font-variant: menentukan teks untuk menggunakan gaya small caps (huruf kapital kecil).
font: sebagai shorthand dari properti font yang ada. */

/* Step 1 yang perlu dilkaukan yaitu deklarasikan font */
@font-face {
  font-family: "Dicoding Font";
  src: url("FILE-FONT.TTF");
}

/* Rule tidak akan diterapkan pada target karena kesalahan penulisan nilai properti */
h1 {
  font-size: 1.5 em;
}
#hlight1 {
  font-size: 150%; /* 150% dari 16 = 24px */
}
.short {
  font: 1em sans-serif;
}
/* em adalah Satuan relatif terhadap ukuran font yang sedang digunakan pada elemen (contohnya, 2em berarti 2 kali lebih besar dari ukuran font seharusnya). */
/* rem adalah Satuan relatif terhadap ukuran font Mirip seperti em, tetapi rem merupakan satuan relatif terhadap ukuran font dari root element. */

/* shorthand */
/* target { style weight variant size font-family } */
