.ln2 {
  line-height: 2;
}

.ln200 {
  line-height: 200%;
}

.ln2em {
  line-height: 2em;
}

.tl-left {
  text-align: left;
}

.tl-right {
  text-align: right;
}

.tl-center {
  text-align: center;
}

.tl-justify {
  text-align: justify;
}
.decoration-none {
  text-decoration: none;
  /* underline | overline | line-through | none */
}
.transform-capitalize {
  text-transform: capitalize;
}

.transform-lowercase {
  text-transform: lowercase;
}

.transform-uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 4px;
}

.word-spacing {
  word-spacing: 1.5em;
}

.one {
  text-shadow: 2px 2px 0px #000000;
  /* Text shadow _horsontal _vertikal _buram _warna */
  background-color: #eeeeee;
  color: #666666;
}
