* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Ghaitsa, sans-serif;
  font-size: 17px;
  background-color: #121212; /* latar belakang gelap */
  color: #e0e0e0; /* teks terang */
  width: 100vh auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  background-color: #1e1e1e;
  box-shadow: 0px 3px 0.3px #000;
}

main {
  margin: 10px auto;
}

footer {
  background-color: #1e1e1e;
  box-shadow: 1px -3px 5px 0px #000;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ccc;
}

.love {
  padding: 10px;
}

nav,
nav ul {
  display: flex;
  list-style: none;
}

nav li a,
nav li {
  padding: 6px;
  text-decoration: none;
  color: #e0e0e0;
}

nav a:hover {
  color: #121212;
  background-color: #6ba0da;
  padding: 5px 20px;
  border-radius: 30px;
}

article.row {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 50px 20px 50px;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.col {
  border-radius: 10px;
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
}

aside {
  padding: 30px;
  align-content: center;
  text-align: center;
}

section.intro {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 30px;
}

.describe {
  font-size: 13px;
  font-family: Pulang, sans-serif;
  color: #ccc;
}

.deskripsi-foto {
  filter: grayscale(40);
  width: 150px;
  border-radius: 50%;
  border: 30px solid #1f1f1f;
}

button {
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #03a9f4;
  background-color: #2d3e50;
}

button:hover {
  border: 1px solid #03a9f4;
  background-color: #6ba0da;
  color: #121212;
}

article.mk {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 20px 50px;
  align-items: center;
  box-sizing: border-box;
}

.lo {
  justify-self: flex-end;
  padding: 5px;
}

.kelas {
  padding: 15px;
  font-size: 15px;
}

.team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 10px 0 50px 0;
  justify-content: space-evenly;
}

.layout {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team > div,
.layout > div {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
}

h1,
h3 {
  color: #6ba0da;
  letter-spacing: 3px;
}

/* Responsive adjustments */
@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
  }

  article.row {
    flex-direction: column;
    padding: 20px;
  }

  .describe {
    font-size: 18px;
    padding: 1em;
  }

  .deskripsi-foto {
    width: 250px;
  }

  aside,
  section.intro {
    padding: 20px;
    text-align: center;
  }

  div.team {
    flex-direction: column;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .deskripsi-judul h1,
  .deskripsi-judul h3 {
    font-size: 20px;
  }
  ul.menu {
    box-sizing: border-box;
    flex-direction: column;
    gap: 10px;
  }

  ul.menu li {
    width: 100%;
    display: flex;
    border-left: 1px solid white;
    border-right: 1px solid white;
    justify-content: center;
  }
  li a:hover {
    color: #2d3e50;
    font-weight: 5px;
    padding: 0;
    background-color: #1f1f1f;
  }
  .col {
    width: 100%;
  }
  .col3 {
    padding-bottom: 2px;
    margin-bottom: 2em;
    border-bottom: 1px solid white;
  }

  .team {
    gap: 20px;
    width: 100%;
  }

  button.here {
    padding: 8px 16px;
    font-size: 14px;
  }

  footer {
    font-size: 14px;
    padding: 10px;
  }
}
